div.logo {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

div.cover {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 15px;
	padding-bottom: 15px;
	font-family: 'Courier New';
}

div.menu {
	font-family: 'Courier New';
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

div.social {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	text-align: right;
}

div.live, div.music, div.contact {
	font-family: 'Courier New';
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

div.bio {
	font-family: 'Courier New';
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: justify;
	text-justify: inter-word;
}

div.photos {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

iframe {
	margin-top: 10px;
	margin-bottom: 10px;
}

table.live {
	margin-bottom: 15px;
	width: 500px;
}

td {
	padding-top: 3px;
	padding-bottom: 3px;
}

a {
	color: #000000;
}
